/*
    ████████████████████████████████████████████████████████████████████████████████████████████████████
    * Application: countup v0.0.0.1
    * https://gunessahin.github.io/
    ════════════════════════════════════════════════════════════════════════════════════════════════════
    * Copyright gunessahin@outlook.com.tr
    * Licence (https://github.com/gunessahin)
    ████████████████████████████████████████████████████████████████████████████████████████████████████
*/

.sayac::before {
    content: ""
}

.sayac::after {
    content: ""
}

.sayac {
    float: left;
    text-align: center;
    padding: 1%;
    margin: 1%;
    font-size: 30px;
    min-width: 100px;
  
}
.sayac {
    background: #F2F2F2;
    color: #4C4848;
    border-radius: 10px;
    font-weight: bolder;
    border: dotted 1px #4C4848;
}
.container{
    display: inline-block;
    width: 60%;
    margin-right: 15%;
    margin-left: 20%;
}